<%= form_with model: @post, multipart: true, local: true do |f| %>
    <%= f.fields_for :spot do |s| %>
        <%= s.label :address, "レビュー場所(Google Mapで検索", class: 'spot_title' %>
        <%= s.text_field :address, placeholder: "スポットを入力", id: "address", class: 'spot_text' %>
    <% end %>    
<input onclick = "codeAddress()" type = "button" value = "検索する" >
<% end %>
<div id='map'>
</div>
<style>
#map {
    height: 320px;
    width: 640px;
}    
</style>