<div class="container">
    <%= image_tag 'yakei1.png', size: '1000x700' %>
    <div>
        <p>このサイトは夜景投稿のＳＮＳサイトとなっております。</p></br>
        <p>夜景好きの方々にコロナ禍でも写真を見て夜景の雰囲気を楽しんでいただきたいと思い、</p></br>
        <p>このサイトを作成しました。</p></br>
        </br></br>
        <p>ぜひご一緒に夜景</p>
    </div>
    <div>
        <%= link_to 'ゲストログイン', public_homes_guest_sign_in_path, method: :post %>
    </div>    
</div>
    
