// Place all the styles related to the admin/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

    table {
        margin-left: 250px;
    }
    
    #container {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #show{
        padding-left: 550px;
    }