<header>			
    <nav class="navbar navbar-expand-lg navbar-dark" id="nav">			
        <div class="container">			
                <ul class="navbar-nav ml-auto">	
                    <a href="#" class="mx-1 text-light"><i class="fab fa-twitter fa-lg"></i></a>
                    <a href="#" class="mx-5 text-light"><i class="fab fa-instagram fa-lg"></i></a>
                    <a href="#" class="mx-1 text-light"><i class="fab fa-facebook-square"></i></a>
                    <a href="#" class="mx-5 text-light"><i class="far fa-envelope fa-lg"></i></a>
                </ul>	
            <a class="navbar-brand" href="/"><span>@yake-mio</span></a>    
        </div>			
    </nav>			
</header>

<style>
    #nav {
        background-color: rgb(7 5 70);
    }
</style>